<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jupiter Testing">
  <test name="Test Case 1">
      <classes>
      <class name="jupiter.product.toys.testCases.TC_1"/>
      </classes>
  </test>
   <test name="Test Case 2">
      <classes>
      <class name="jupiter.product.toys.testCases.TC_2"/>
      </classes>
  </test>
  <test name="Test Case 3">
      <classes>
      <class name="jupiter.product.toys.testCases.TC_3"/>
      </classes>
  </test>
  <test name="Test Case 4">
      <classes>
      <class name="jupiter.product.toys.testCases.TC_4"/>
      </classes>
  </test>
</suite> <!-- Suite -->
